#!/bin/sh

ipfw -f flush

add="ipfw add"
set -x

export GRECONFIG=/root/$(hostname).json

. /root/find-gre.sh
/root/load-gre.sh $GRECONFIG

# for now, unused
ipfw table allow-gre create


#$add    50      fwd $(find_gre 10.0.254.63) ip from 192.168.18.104/29 to not 192.168.0.0/16
#$add    51      fwd $(find_gre 10.0.254.63) udp from 192.168.18.104/29 to any 53


$add    100     allow ip from any to any

$add 65534 deny log ip from any to any

